[SYNTAX]
# FileParser can be XML, JSON, CSV, TSV, REGEX, KEYVALUE
FileParser = XML

# XML Options
[XML]
# ValidateSchema defaults to no, set to yes if you want the file validated against the schema
ValidateSchema = no
# CustomParser is used to load custom XML parsing classes for complex XML documents
CustomParser = STIX

[STIX]
STIXNamespace = http://www.us-cert.gov/essa
STIXAlias = isa
# Change depending on if this is testing or production. Testing prefix is guide.999191., production prefix is guide.19001.
STIXIDPrefix = guide.999191.
# STIXIDPrefix = guide.19001.

[SCHEMA]
# PrimarySchemaConfiguration is the json file that describes the underlying schema for the document for Flexible Transform
PrimarySchemaConfiguration = resources/schemaDefinitions/stix.json
SiteSchemaConfiguration = resources/schemaDefinitions/stix-essa.json